body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('./img/0_sonstiges/desert_2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    overflow: hidden;
}

@font-face {
    font-family: 'zabars';
    src: url('./fonts/zabars.ttf') format('truetype');
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

h2 {
    margin: 20px;
    font-size: 40px;
    text-decoration: underline;
}

canvas {
    background-color: black;
    display: block;
}

.fullscreen-img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    cursor: pointer;
}

#fullscreen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    position: absolute;
    top: 20px;
    left: center;
    z-index: 100;
}

#mainMenu {
    display: flex;
    flex-direction: row;
}

#mainMenu.hidden {
    display: none;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
}

button:hover {
    scale: 1.2;
    cursor: pointer;
}

#tutorialMenu, #controlsMenu, #impressumMenu {
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid black;
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 400px;
    height: 320px;
    position: relative;
}

.backButton {
    filter: invert(100%);
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
}

table {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

tr {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.subMenuIMG {
    width: 24px;
    height: 24px;
    filter: invert(100%);
    margin-right: 20px;
}

#mobileControls {
    position: absolute;
    bottom: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

#leftButtons, #rightButtons {
    display: flex;
    gap: 20px;
}

.control-button {
    width: 60px;
    height: 60px;
    font-size: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    pointer-events: auto;
}

.control-button img {
    height: 50px;
    width: 50px;
}

#leftButtons {
    position: absolute;
    left: 40px;
}

#rightButtons {
    position: absolute;
    right: 40px;
}

#rotateScreenMessage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#rotateScreenMessage img {
    width: 50%;
    filter: invert(100%);
}

.d-none {
    display: none;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-width: 1180px) {
    .d-flex-mobil {
        display: flex;
    }
}

@media only screen and (max-width: 430px) {
    canvas {
        width: 100vw;
        height: 100vh;
    }

    .d-none-mobil {
        display: none;
    }

    .d-flex-mobil {
        display: flex;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
        width: 100vw;
    }

    h1 {
        display: none;
    }

    .d-none-mobil {
        display: none;
    }

    .d-flex-mobil {
        display: flex;
    }
}

@media only screen and (max-height: 400px) {
    canvas {
        width: 100vw;
        height: 100vh;
    }

    .d-none-mobil {
        display: none;
    }

    .d-flex-mobil {
        display: flex;
    }
}